@import "tailwindcss";


:root { --background: #0a0a0b; 
  --foreground: #1e1e06;
   --brand: #1d1507;
    --accent: #20180a; 
    --muted: #2f1b0e; 
  }


body {
  background-color: black;
  background: linear-gradient(
    270deg,
    var(--brand),
    var(--accent),
    var(--muted),
    var(--foreground)
  );
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
  min-height: 100vh;
}

@keyframes gradient {
  0%,100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

